<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="sidebar sidebar-dark sidebar-fixed" id="sidebar" th:fragment="sidebar">
     <div class="sidebar-brand d-none d-md-flex">
       <img alt="" src="/images/opms-logo.png" width="150">
     </div>
     <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
       <li class="nav-item">
       		<a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
       </li>
       <!--<li class="nav-title">Manage</li>
       
        <li class="nav-item">
       		<a class="nav-link p-left" th:href="@{/admin/products}"><i class="cil-box"></i> Products</a>
       </li>
       
        <li class="nav-item">
       		<a class="nav-link p-left" th:href="@{/admin/subjects}">Subjects</a>
       </li>
       
        <li class="nav-item">
       		<a class="nav-link p-left" th:href="@{/admin/activities}">Tasks</a>
       </li>-->
       
       <li class="nav-group">
       		<a class="nav-link nav-group-toggle" href="#"> Manage Products</a>
	        <ul class="nav-group-items">
	           <li class="nav-item"><a class="nav-link p-left" th:href="@{/admin/products}">All Products</a></li>
	           <li class="nav-item"><a class="nav-link p-left" th:href="@{/admin/addnew}">Add New</a></li>
	           <li class="nav-item"><a class="nav-link p-left" th:href="@{/admin/brands}">Brands</a></li>
	           <li class="nav-item"><a class="nav-link p-left" th:href="@{/admin/categories}">Categories</a></li>
	           <li class="nav-item"><a class="nav-link p-left" th:href="@{/admin/tags}">Tags</a></li>
                <li class="nav-item"><a class="nav-link p-left" th:href="@{/admin/attributes}">Attributes</a></li>
	        </ul>
       </li>
       <!--<li class="nav-title">Module</li>-->
       
       <li class="nav-item"><a class="nav-link p-left" th:href="@{/admin/modules}">Modules</a></li>
       <!--<li class="nav-group">
       	<a class="nav-link nav-group-toggle" href="#"> Modules</a>
         <ul class="nav-group-items">
           <li class="nav-item"><a class="nav-link p-left" href="buttons/buttons.html">Files</a></li>
         </ul>
       </li>-->
	</ul>
</div>
</body>
</html>